/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #f5f7ff;
}

.dark body {
	background: #343438;
}

button{
	box-sizing: border-box;
}

h3{
	@apply text-sm;
}